<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add item</title>
</head>
<body>
<!-- 	



 -->
    <form method="POST">
        <input type="text" name="item_name" placeholder="Item name"><br>
        <input type="text" name="item_cat" placeholder="Item Category"><br>
        <input type="text" name="item_price" placeholder="Item Price"><br>
        <input type="text" name="item_quantity" placeholder="Item Quantity"><br>
        <input type="text" name="item_picture" placeholder="Item Picture"><br>
        <input type="submit" value="add"><br>
    </form>
    
</body>
</html>